/* COMPONENTS START */

// Icons

.icon{
  display: inline-block;
  width: 16px;
  height: 16px;

  &.contact{
    background: url("../img/icons/contact.png") no-repeat center / contain;
  }
  &.facebook{
    background: url("../img/icons/facebook.png") no-repeat center / contain;
  }
  &.google{
    background: url("../img/icons/google-logo.png") no-repeat center / contain;
  }
  &.linkedin{
    background: url("../img/icons/linkedin-letters.png") no-repeat center / contain;
  }
  &.logo{
    background: url("../img/temp/logo.png") no-repeat center / contain;
  }
  &.maps{
    background: url("../img/icons/maps-and-flags.png") no-repeat center / contain;
  }
  &.pinterest{
    background: url("../img/icons/pinterest-logo.png") no-repeat center / contain;
  }
  &.search{
    background: url("../img/icons/search.png") no-repeat center / contain;
  }
  &.bag{
    background: url("../img/icons/shopping-basket.png") no-repeat center / contain;
  }
  &.phone{
    background: url("../img/icons/smartphone.png") no-repeat center / contain;
  }
  &.twitter{
    background: url("../img/icons/twitter.png") no-repeat center / contain;
  }
  &.user{
    background: url("../img/icons/user-outline.png") no-repeat center / contain;
  }
  &.edit-grey{
    background: url("../img/icons/edit-gray.png") no-repeat center / contain;
  }
  &.smartphone-gray{
    background: url("../img/icons/smartphone-gray.png") no-repeat center / contain;
  }
  &.contact-gray{
    background: url("../img/icons/contact-gray.png") no-repeat center / contain;
  }
  &.user-outline-gray{
    background: url("../img/icons/user-outline-gray.png") no-repeat center / contain;
  }
  &.heart{
    background: url("../img/icons/heart.png") no-repeat center / contain;
  }
  &.copyright{
    width: 10px;
    height: 10px;
    background: url("../img/icons/copyright.png") no-repeat center / contain;
  }
}

// Soc btn

.soc-btn{
  ul{
    display: flex;

    li{
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      & + li{
        margin-left: 10px;
      }

      &.fb{
        background-color: #507cbe;

        &:hover{
          background-color: #578cd4;
        }
      }

      &.tw{
        background-color: #00abef;

        &:hover{
          background-color: #0088c2;
        }
      }

      &.g{
        background-color: #d93e2d;

        &:hover{
          background-color: #b43328;
        }
      }

      &.in{
        background-color: #3371b7;

        &:hover{
          background-color: #418ee4;
        }
      }

      &.p{
        background-color: #c92619;

        &:hover{
          background-color: #e82b1b;
        }
      }
    }
  }
}

// Btns

.btns{
  min-width: 120px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: $fontBlack;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 12px;

  &:hover,
  &.mixitup-control-active,
  &.primary{
    background-color: #e0006c;
    border-color: #e0006c;
    transition: all .3s ease-in-out;
  }

  &.mixitup-control-active:hover,
  &.primary:hover{
    background-color: #ff77b8;
    border-color: #ff77b8;
  }
}

// Forms

.forms-group{
  position: relative;
  display: flex;
  flex-wrap: wrap;

  & + .forms-group{
    margin-top: 10px;
  }
  .icon{
    position: absolute;
    top: 13px;
    left: 20px;
  }
}

.error{
  color: #e0006c;
  font-size: 12px;
  font-family: $fontLight;
}

.forms-control{
  width: 100%;
  background-color: transparent;
  border: 1px solid #313131;
  padding: 7px 20px 7px 50px;
  color: $colorText;
  font-family: $fontLight;
  font-size: 12px;

  &.invalid{
    border-color: #e0006c;
  }
}
textarea.forms-control{
  min-height: 140px;
}

/* COMPONENTS END */