/* VARIABLES STARS */

//Fonts
$fontBlack: 'Roboto-Black';
$fontBold: 'Roboto-Bold';
$fontMedium: 'Roboto-Medium';
$fontThin: 'Roboto-Thin';
$fontLight: 'Roboto-Light';

//Font size
$bodyFontSize: 14px;

//Color
$colorText: #818181;
$colorWhite: #fff;
$colorPink: #e0006c;

// Line height
$lineHeightText: 24px;

/* VARIABLES END */