/* VARIABLES STARS */
/* VARIABLES END */
/*RESET START*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  max-width: 1920px;
  margin: 0;
  color: #818181;
  font-family: "Roboto-Light";
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  background-color: #1a1a1a; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  a:hover {
    color: #818181;
    text-decoration: none; }

img {
  max-width: 100%; }

input,
textarea,
button {
  outline: none !important;
  border: none; }

textarea {
  resize: none; }

button {
  cursor: pointer; }

label {
  margin-bottom: 0; }

/*RESET END*/
/* FONTS START */
@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg"), url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/../fonts/Roboto-Light.eot");
  src: url("../fonts/../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/../fonts/Roboto-Medium.eot");
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg#Roboto-Thin") format("svg"), url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: 100;
  font-style: normal; }

/* FONTS END */
/* COMPONENTS START */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px; }
  .icon.contact {
    background: url("../img/icons/contact.png") no-repeat center/contain; }
  .icon.facebook {
    background: url("../img/icons/facebook.png") no-repeat center/contain; }
  .icon.google {
    background: url("../img/icons/google-logo.png") no-repeat center/contain; }
  .icon.linkedin {
    background: url("../img/icons/linkedin-letters.png") no-repeat center/contain; }
  .icon.logo {
    background: url("../img/temp/logo.png") no-repeat center/contain; }
  .icon.maps {
    background: url("../img/icons/maps-and-flags.png") no-repeat center/contain; }
  .icon.pinterest {
    background: url("../img/icons/pinterest-logo.png") no-repeat center/contain; }
  .icon.search {
    background: url("../img/icons/search.png") no-repeat center/contain; }
  .icon.bag {
    background: url("../img/icons/shopping-basket.png") no-repeat center/contain; }
  .icon.phone {
    background: url("../img/icons/smartphone.png") no-repeat center/contain; }
  .icon.twitter {
    background: url("../img/icons/twitter.png") no-repeat center/contain; }
  .icon.user {
    background: url("../img/icons/user-outline.png") no-repeat center/contain; }
  .icon.edit-grey {
    background: url("../img/icons/edit-gray.png") no-repeat center/contain; }
  .icon.smartphone-gray {
    background: url("../img/icons/smartphone-gray.png") no-repeat center/contain; }
  .icon.contact-gray {
    background: url("../img/icons/contact-gray.png") no-repeat center/contain; }
  .icon.user-outline-gray {
    background: url("../img/icons/user-outline-gray.png") no-repeat center/contain; }
  .icon.heart {
    background: url("../img/icons/heart.png") no-repeat center/contain; }
  .icon.copyright {
    width: 10px;
    height: 10px;
    background: url("../img/icons/copyright.png") no-repeat center/contain; }

.soc-btn ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .soc-btn ul li {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .soc-btn ul li + li {
      margin-left: 10px; }
    .soc-btn ul li.fb {
      background-color: #507cbe; }
      .soc-btn ul li.fb:hover {
        background-color: #578cd4; }
    .soc-btn ul li.tw {
      background-color: #00abef; }
      .soc-btn ul li.tw:hover {
        background-color: #0088c2; }
    .soc-btn ul li.g {
      background-color: #d93e2d; }
      .soc-btn ul li.g:hover {
        background-color: #b43328; }
    .soc-btn ul li.in {
      background-color: #3371b7; }
      .soc-btn ul li.in:hover {
        background-color: #418ee4; }
    .soc-btn ul li.p {
      background-color: #c92619; }
      .soc-btn ul li.p:hover {
        background-color: #e82b1b; }

.btns {
  min-width: 120px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Roboto-Black";
  text-transform: uppercase;
  text-align: center;
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 12px; }
  .btns:hover, .btns.mixitup-control-active, .btns.primary {
    background-color: #e0006c;
    border-color: #e0006c;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .btns.mixitup-control-active:hover, .btns.primary:hover {
    background-color: #ff77b8;
    border-color: #ff77b8; }
  .btns + .btns {
    margin-left: 7px; }

.forms-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .forms-group + .forms-group {
    margin-top: 10px; }
  .forms-group .icon {
    position: absolute;
    top: 13px;
    left: 20px; }

.forms-control {
  width: 100%;
  background-color: transparent;
  border: 1px solid #313131;
  padding: 7px 20px 7px 50px;
  color: #818181;
  font-family: "Roboto-Light";
  font-size: 12px; }

textarea.forms-control {
  min-height: 140px; }

/* COMPONENTS END */
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

/* CUSTOM STYLES START */
.hidden {
  display: none; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.bg-black {
  background-color: #0d0d0d; }

.bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#fd61e3), to(#ff77b8));
  background: -webkit-linear-gradient(left, #fd61e3 0%, #ff77b8 100%);
  background: -o-linear-gradient(left, #fd61e3 0%, #ff77b8 100%);
  background: linear-gradient(to right, #fd61e3 0%, #ff77b8 100%); }

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__top, .header__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px; }

.header__top {
  background-color: #0d0d0d; }

.header__bottom {
  height: 80px;
  background: -webkit-gradient(linear, left top, right top, from(#fd61e3), to(#ff77b8));
  background: -webkit-linear-gradient(left, #fd61e3 0%, #ff77b8 100%);
  background: -o-linear-gradient(left, #fd61e3 0%, #ff77b8 100%);
  background: linear-gradient(to right, #fd61e3 0%, #ff77b8 100%); }

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px; }
  .header__logo a {
    display: inline-block;
    height: 60px; }
    .header__logo a img {
      height: 100%; }

.header__nav {
  text-transform: uppercase;
  color: #fff; }
  .header__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header__nav ul li:hover {
      color: inherit;
      cursor: pointer; }
    .header__nav ul li + li {
      margin-left: 75px;
      position: relative; }
      .header__nav ul li + li::before {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        top: 50%;
        left: -39px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        display: inline-block;
        background-color: #e0006c; }

.header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right; }
  .header__contacts span {
    color: #fff; }
    .header__contacts span.phone {
      font-weight: 100;
      color: #e0006c;
      font-size: 20px;
      margin-bottom: -5px; }

.header__email {
  color: #fff;
  font-style: italic; }

.header__breadcrumb ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header__breadcrumb ul li {
    min-width: 80px;
    text-align: center;
    text-transform: uppercase;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    position: relative;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .header__breadcrumb ul li + li {
      margin-left: 30px; }
      .header__breadcrumb ul li + li::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -18px;
        display: inline-block;
        width: 10px;
        height: 10px;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background: url("../img/icons/arrow-right.png") no-repeat center/contain; }
    .header__breadcrumb ul li:not(:last-child) {
      background-color: #fff;
      color: #1a1a1a; }
      .header__breadcrumb ul li:not(:last-child):hover {
        cursor: pointer;
        color: #fff;
        background-color: #1a1a1a;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
    .header__breadcrumb ul li:last-child {
      color: #fff;
      background-color: #1a1a1a; }

.header__buttons ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header__buttons ul li {
    padding: 4px 15px;
    line-height: 16px;
    cursor: pointer; }
    .header__buttons ul li span {
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .header__buttons ul li + li {
      border-left: 1px solid #ff81c2; }
    .header__buttons ul li:last-child {
      padding-right: 0; }
    .header__buttons ul li:hover span {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }

.wrapper {
  margin-top: 80px; }

.section {
  padding-bottom: 50px; }
  .section__title {
    font-family: "Roboto-Thin";
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff; }
  .section_text__content p + p {
    margin-top: 17px; }
  .section_tabs__header {
    margin-bottom: 40px; }
  .section_tabs__body a {
    display: inline-block;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 10px; }
  .section_forms__body {
    padding-top: 6px; }
  .section_model__photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .section_model__photo img {
      height: 100%;
      width: 100%; }
  .section_model__name {
    line-height: 60px;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    padding: 30px 40px 17px 40px;
    font-family: "Roboto-Thin";
    background-color: #0d0d0d; }
  .section_model__soc {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #0d0d0d; }
  .section_model__data {
    background: -webkit-gradient(linear, left top, right top, from(#fd61e3), to(#ff77b8));
    background: -webkit-linear-gradient(left, #fd61e3 0%, #ff77b8 100%);
    background: -o-linear-gradient(left, #fd61e3 0%, #ff77b8 100%);
    background: linear-gradient(to right, #fd61e3 0%, #ff77b8 100%);
    color: #fff;
    padding: 21px 40px; }
    .section_model__data ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section_model__data ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .section_model__data ul li .title {
          text-transform: capitalize;
          font-family: "Roboto-Black"; }
  .section_model__adress {
    padding: 30px 40px 50px 40px;
    background-color: #0d0d0d; }
    .section_model__adress li p:first-child {
      text-transform: uppercase;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px;
      color: #fff;
      font-family: "Roboto-Black"; }
      .section_model__adress li p:first-child .icon {
        margin-right: 10px; }
    .section_model__adress li p:last-child {
      padding-left: 27px; }
    .section_model__adress li p.email {
      color: #e0006c;
      font-style: italic; }
    .section_model__adress li + li {
      border-top: 1px solid #232323;
      margin-top: 12px;
      padding-top: 12px; }

.footer {
  margin-top: 26px; }
  .footer__top {
    background-color: #0d0d0d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px; }
  .footer__bottom {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 34px;
    padding-bottom: 34px;
    color: #818181;
    font-size: 14px; }
    .footer__bottom .black {
      color: #000; }

/* CUSTOM STYLES END */
