footer.footer
    .footer__top
        .soc-btn
            ul
                li.fb
                    a(href='javascript:void(0)').icon.facebook
                li.tw
                    a(href='javascript:void(0)').icon.twitter
                li.g
                    a(href='javascript:void(0)').icon.google
                li.in
                    a(href='javascript:void(0)').icon.linkedin
                li.p
                    a(href='javascript:void(0)').icon.pinterest
    .footer__bottom
        span <span class=" icon copyright"></span> Agency 2015 | Created with <span class=" icon heart"></span> by <span class='black'>MW Templates</span>

