head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Models Agency

        // Bootstrap
        link(rel="stylesheet" href='./assets/styles/bootstrap/bootstrap.min.css')

        // magnific-popup
        link(rel="stylesheet" href='./assets/styles/magnific-popup/magnific-popup.css')

        // Styles
        link(rel="stylesheet" href='./assets/styles/style.css')

        // jQuery
        script(src='./assets/js/jQuery/jquery-3.3.1.min.js')

        // mixitUp
        script(src='./assets/js/mixitUp/mixitup.min.js')

        // magnific-popup
        script(src='./assets/js/magnific-popup/jquery.magnific-popup.min.js')

        // From validate
        script(src='./assets/js/form.validate.js')

        // Script
        script(src='./assets/js/init.js')